@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Происходит загрузка</title>
    <link href="~/Content/StyleLoding.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.timers.js"></script>
    <script type="text/javascript" src="~/Scripts/Ajax.js"></script>
</head>
<body>
    <input id="DataBackground" type="hidden" value="@Model.Id">
    <div>
    </div>
</body>
</html>

