@{
    ViewBag.Title = "Главная";
}
<div class="jumbotron">
    <h1>Южная Корея</h1>
    <p class="lead">Управление базой данных</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Получить инструкцию &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1.Категории</h2>
        <p>Заполните категории номенклатурных единиц.
        </p>
        <p><a class="btn btn-default" href="/Category">Перейти &raquo;</a></p>
    </div>   
    <div class="col-md-4">
        <h2>2.Поставщики</h2>
        <p>
            Заполните поставщиков.
        </p>
        <p><a class="btn btn-default" href="/Supplier">Перейти &raquo;</a></p>
    </div> 
    <div class="col-md-10">
        <h2>Товары</h2>
        <p>
            Заполните прдоставляемая продукция.
        </p>
        <p><a class="btn btn-default" href="/Product">Перейти &raquo;</a></p>
    </div> 
</div>