
@{
    ViewBag.Title = "Загрузка фалов";
}



<div class="mainWidth">
    <div class="mediumCenterBlock">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Loding", "Download", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <dl class="dl-horizontal">
                <dt>
                    Загрузка прайса:
                </dt>
                <dd>
                    <input name="Price" required type="file" class="imputFile" />
                </dd>


                <dt>
                    Загрузка аналогов:
                </dt>
                <dd>
                    <input name="Analog" required type="file" class="imputFile" />
                </dd>

                <dt>
                    Загрузка каталога:
                </dt>
                <dd>
                    <input name="Categorys" required type="file" class="imputFile" />
                </dd>


            </dl>
    <input value="Загрузить" type="submit" class="btn btn-primary" />
            @Html.ActionLink("К списку", "Index", "Home")
        }

    </div>

</div>